<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pkurw.bookstore.mapper.borrowMessageMapper">
  <resultMap id="BaseResultMap" type="com.pkurw.bookstore.bean.borrowMessage">
    <id column="borrow_id" jdbcType="INTEGER" property="borrowId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="brrow_time" jdbcType="TIMESTAMP" property="brrowTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_number" jdbcType="INTEGER" property="bookNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    borrow_id, book_id, brrow_time, return_time, user_id, book_number
  </sql>
  <select id="selectByExample" parameterType="com.pkurw.bookstore.bean.borrowMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from borrow_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from borrow_message
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from borrow_message
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pkurw.bookstore.bean.borrowMessageExample">
    delete from borrow_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pkurw.bookstore.bean.borrowMessage">
    insert into borrow_message (borrow_id, book_id, brrow_time, 
      return_time, user_id, book_number
      )
    values (#{borrowId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{brrowTime,jdbcType=TIMESTAMP}, 
      #{returnTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{bookNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pkurw.bookstore.bean.borrowMessage">
    insert into borrow_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="borrowId != null">
        borrow_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="brrowTime != null">
        brrow_time,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bookNumber != null">
        book_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="borrowId != null">
        #{borrowId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="brrowTime != null">
        #{brrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNumber != null">
        #{bookNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pkurw.bookstore.bean.borrowMessageExample" resultType="java.lang.Long">
    select count(*) from borrow_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update borrow_message
    <set>
      <if test="record.borrowId != null">
        borrow_id = #{record.borrowId,jdbcType=INTEGER},
      </if>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.brrowTime != null">
        brrow_time = #{record.brrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.returnTime != null">
        return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.bookNumber != null">
        book_number = #{record.bookNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update borrow_message
    set borrow_id = #{record.borrowId,jdbcType=INTEGER},
      book_id = #{record.bookId,jdbcType=INTEGER},
      brrow_time = #{record.brrowTime,jdbcType=TIMESTAMP},
      return_time = #{record.returnTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      book_number = #{record.bookNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pkurw.bookstore.bean.borrowMessage">
    update borrow_message
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="brrowTime != null">
        brrow_time = #{brrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookNumber != null">
        book_number = #{bookNumber,jdbcType=INTEGER},
      </if>
    </set>
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pkurw.bookstore.bean.borrowMessage">
    update borrow_message
    set book_id = #{bookId,jdbcType=INTEGER},
      brrow_time = #{brrowTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      book_number = #{bookNumber,jdbcType=INTEGER}
    where borrow_id = #{borrowId,jdbcType=INTEGER}
  </update>
</mapper>